### **USANDO O PYODBC**

In [ ]:
# import pyodbc

# dados_conexao = ('Driver={Devart ODBC Driver for MySQL};'
#                  'User ID=root;'
#                  'Password=fgmc1234;'
#                  'Server=localhost;'
#                  'Database=bdyoutube')

# conexao = pyodbc.connect(dados_conexao)

# cursor = conexao.cursor()

# cursor.execute('SELECT * FROM vendas')

# linhas = cursor.fetchall()
# colunas = cursor.description

# cursor.close()
# conexao.close()

### **USANDO O MySQLConnector**

##### **CRIANDO CONEXÃO**

In [ ]:
import mysql.connector


conexao = mysql.connector.connect(
    host='localhost', 
    user='root', 
    password='fgmc1234', 
    database='bdyoutube'
)

cursor = conexao.cursor()

##### **CREATE**

In [ ]:
# CREATE
nome_produto = "nikito"
valor_produto = 2

comando = f'''
INSERT INTO vendas (nome_produto, valor)
VALUES ("{nome_produto}", {valor_produto})
'''
cursor.execute(comando)

conexao.commit()

##### **READ**

In [ ]:
# READ
comando = 'SELECT * FROM vendas'
cursor.execute(comando)

linhas = cursor.fetchall()
colunas = cursor.description

display(colunas)
display(linhas)

##### **UPDATE**

In [27]:
# UPDATE
nome_produto = 'nikito'
valor_produto = 3

comando = f'''
UPDATE vendas
SET valor={valor_produto}
WHERE nome_produto="{nome_produto}"
'''
cursor.execute(comando)

conexao.commit()

##### **DELETE**

In [ ]:
# DELETE
id_produto = 4


comando = f'''
DELETE FROM vendas
WHERE idVendas={id_produto}
'''
cursor.execute(comando)

conexao.commit()

##### **FECHAR CONEXÃO**

In [ ]:
# SEMPRE
cursor.close()
conexao.close()